#comments
{
    width: 100%;
}

/* Bounding box */
#comments ul
{
    list-style: none;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#comments li
{
    font-size: 16px;
}

.commentListing
{
    padding: 10px;
    margin-left: -40px;
}

/* Comments */
#comments ul ul
{
    list-style: none;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#comments ul ul li
{
    list-style: none;
    margin: 5px 0px;
    padding: 5px 0px;
}

/* Replies */
#comments ul ul ul
{
    padding: 5px auto;
    border: none;
    border-left: 1px solid #E0E0FF;
}

#comments ul ul ul li
{
    
}