#comment_list
{
    width: 100%;
    margin-top: 20px;
}

/* Bounding box */
#comment_list ul
{
    list-style: none;
    margin: 10px 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#comment_list li
{
    font-size: 16px;
}

/* Comments */
#comment_list ul ul
{
    list-style: none;
    padding: 5px;
}

#comment_list ul ul li
{
    list-style: none;
    margin: 5px 0px;
    padding: 5px 0px;
}

/* Replies */
#comment_list ul ul ul
{
    margin-left: 20px;
}

.commentListing
{
    margin: 5px;
    margin-left: 20px;
}

.even-background
{
	background-color: #F9FCEA;
	border: 1px solid #1c3752;
}

.odd-background
{
	background-color: #CFDFDF;
	border: 1px solid #1c3752;
}