#comments
{
    width: 100%;
}

/* Bounding box */
#comments ul
{
    list-style: none;
    margin: 10px 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#comments li
{
    font-size: 16px;
}

/* Comments */
#comments ul ul
{
    list-style: none;
    padding: 5px;
}

#comments ul ul li
{
    list-style: none;
    margin: 5px 0px;
    padding: 5px 0px;
}

/* Replies */
#comments ul ul ul
{
    margin-left: 20px;
}

.commentListing
{
    margin: 5px;
    margin-left: 20px;
}

.even-background
{
	background-color: #F9FCEA;
	border: 1px solid #070771;
}

.odd-background
{
	background-color: #CFDFDF;
	border: 1px solid #070771;
}