#profile
{
    margin: 12px;
    text-align: left;
}

#details
{
    float: left;
    margin: 10px;
}

#map_canvas
{
    float: right;
    width: 250px;
    height: 250px;
    margin: 10px;
}

#discussion
{
    text-align: left;
    margin: 12px;
}

#sorts
{
    margin: 10px;
}