/* Profile of a business, includes details, map, and sorted categories */
#busProfile
{
    margin: 12px;
    width: 600px;
    height: 700px;
    text-align: left;
    float: left;
}

#busFeed
{
    margin: 12px;
    width: 305px;
    height: 700px;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
}

/* Business details */
#busDetails
{
    float: left;
    margin: 10px;
    width: 575px;
    overflow: hidden;
}

/* Categories a business is sorted under */
#sorted
{
     margin: 0px 10px;
}

/* Map of business location */
#map_canvas
{
    width: 250px;
    height: 250px;
    margin: 10px;
}

/* Discussion section of a business, includes sort discussions and comments */
#discussion
{
    text-align: left;
    margin: 12px;
}


/* Activity feed for a business */
#bus_activity_feed
{
    text-align: left;
    margin: 12px;
    width:200px;
}

#photoreel
{
    text-align: left;
    margin: 12px;
}

/* Discussion of sorts */
#sorts
{
    margin: 0px 10px;
    overflow: auto;
}

/* Sort under discussion */
.sort
{
    text-align: center;
    font-size: 14px;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px;
    padding: 0px 5px;
    width: 250px;
}