body
{
	text-align: center;
}

ul#list-nav {
margin:0 0;
width:900px;
}

ul#list-nav li {
display:inline
}


ul#list-nav li  {
padding-left: 20px;
padding-right	: 20px;
width:100px;

}

a
{
	font-family: verdana
	font-size: 20px
	
	color: white
}

#nightoutHome
{
	font-size:50px;
}


p
{



}


#formdiv
{
	padding-top: 100px;
}

#nav-bar
{
	margin: 0 auto;
	text-align:center;
	width:900px;
	padding-bottom: 25px;
}
#account-bar
{	


	background-image: url(images/dark.png);
    background-repeat: repeat;
	text-align: center;

	width: 100%;
	position: fixed;
	top: 0px;
	left:0px;


	
	height: 30px;
	padding-top: .5em;
	border-bottom: 1px black solid;
	
}

#account-bottom
{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px lightGrey solid;
	height: 37px;
}

.headerBar a
{
	color: white;
		font-family: Helvetica
	color: white;
	font-size: 20px
	
}

.headerBar
{
		color: white;
}

#account-back{
	color: black;
	opacity :.25
}
#pagecontainer
{
	margin: 0 auto;
	width:900px;
}

#footerbar
{
	padding-top:500px;
}

#accountbar
{
	font-size:24px;
	
}

#mainform
{
	border:0;
}