div#container
{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
}


.defaultBody
{
	font-family: 'Helvetica', sans-serif;
	font-size:18px;
	width: 1000px;
    margin: 0 auto;
    background-color: #FFFAF0;
   /* image: url(images/transwhite.png);
    background-repeat: repeat; */
    border: 1px black solid;
    margin-top: -10px;
    min-height:800px;
    box-shadow : 0px 0px 8px #888888;
}



#regForm
{
	font-family: 'Helvetica', sans-serif;
	font-size:18px;
	width: 900px;
    margin: 0 auto;
    background-color : #f0f0f0;
    border: 1px black solid;
    margin-top: -10px;
}

body{
    background-image: url(images/darkdenim3.png);
    background-repeat: repeat;
}

h1
{

	font-family: 'Trykker', sans-serif;
	font-size:32px;
}

p
{
	font-family: 'Helvetica', sans-serif;
    font-size:18px;
}

li
{
font-family: 'Trykker', serif;
font-size:15px;
}

#titleShadow{
	height: 5px;
	background-image: url(images/downshadow.png);
	background-repeat: repeat-x;
	position: fixed;
	top: 38px;
	left: 0px;
	
	width: 100%
}


.cardShadow{
	padding:5px;
	width:222px;
	height:122px;
	background-image: url(images/cardshadow2.png)
}

.cardShadowLink{
	color: blue;
	text-decoration: underline;
}

.cardShadow a{
	color: black;
	text-decoration: none;
}

.busCard{
	vertical-align: top;
	margin:10px;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	padding: 10px;
	border-radius:3px;
	display: inline-block;
	box-shadow : 0px 0px 5px #888888;
}

.busListing{
	margin-left:80px;
}


.blocklink{
	display: inline-block;
}

.busCard:hover{

    background-color: #C0C0C0;

}

#ratingList
{
	
	margin-left:40%;
}

div.vote
{	
  	cursor: pointer;
    display: block;
    height: 25px;
    margin: 0px auto 0;
    width: 25px;
}

.up
{	
   	cursor: pointer;
    display: block;
    height: 25px;
    margin: 0px auto 0;
    width: 25px;
     margin-left:0px;
	
}

.answer
{
	margin-left:0px;

}

.down
{	
   	cursor: pointer;
    display: block;
    height: 25px;
    margin: 0px auto 0;
    width: 25px;
    margin-left:0px;
	
}


.pos_rating
{
	font-size: 16px;
	color: green;
}

.neg_rating
{
	font-size: 16px;
	color: red;
}


.selected
{
	background-color:navy !important;
	
}

.error
{
	background-color:red;
}



.bigsearch
{
		width: 300px;
		font-size:24px;
		color : #747862;
		height:30px;
		border:1;
		padding:4px 8px;
		margin-bottom:5px;
		border-radius: 5px;
}


.adduser
{
	width: 300px;

	font-size:24px;
	color : #747862;
	height:30px;
	border:1;
	padding:4px 8px;
	margin-bottom:5px;
	border-radius: 5px;
}
	
.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}

a:link
{
	color:black;
}
a:visited
{
	color:black;
}

.business_name
{
	font-size: 20px;
	font-color: black;
	text-decoration:none;
	margin-left:5px;
	text-align:left;
	
	
}

.location_name
{
	font-style: italic;	
	margin-left:5px;
	text-align:left;
}

.input_box
{
	height:25px;
	border-radius: 1px;
	font-family: 'Helvetica', sans-serif;
	font-size:18px;

}
