#container
{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

#main
{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    position: absolute;
    overflow: none;
    left: 50%;
    top: 25px;
    width: 1000px;
    height: 100%;
    margin-left: -500px;
    margin-top: 0px;
    padding-top: 150px;
    background-color: #FFFAF0;
    /* image: url(images/transwhite.png);
    background-repeat: repeat; */
    border: 1px black solid;
    border-bottom: none;
    box-shadow : 0px 0px 8px #888888;
    z-index: 0;
}

.content
{
    height: 100%;
}

body
{
    margin: 0 0 0 0;
    background-image: url(images/darkdenim3.png);
    background-repeat: repeat;
}

h1
{
    font-family: 'Trykker', sans-serif;
    font-size: 32px;
}

p
{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}

li
{
    font-family: 'Trykker', serif;
    font-size: 15px;
}

.busCard
{
    vertical-align: top;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0px 0px 5px #888888;
}

.busCard:hover
{
    background-color: #C0C0C0;
}

div.vote
{    
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0px auto 0;
    width: 25px;
}

.pos_rating
{
    font-size: 16px;
    color: green;
}

.neg_rating
{
    font-size: 16px;
    color: red;
}

.error
{
    background-color: red;
}

.clear
{
    height: 0;
    font-size: 1px;
    margin: 0;
    padding: 0;
    line-height: 0;
    clear: both;
}

a:link
{
    color: #000000;
}

a:visited
{
    color: #000000;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }