{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
	$(function() {
		$( "input:submit" ).button();
	});
</script>
  <div id="businessList" class="content" >
        <div class="ui-widget">
        <form action="/accounts/register/" style="margin-left:250px" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input type="submit" style="margin-left:-200px" value="Submit" />
        </p>
        </form>
        </div>
       </div>
        
{% endblock %}