	{% load endless %}
	
	{% paginate all_businesses %}
	
		{% if all_businesses %}
			{% for business in all_businesses %}
				{%include 'ratings/listing/singlebus.html' %}
			{% endfor %}
		{% else %}{% if your_businesses %}
			{% for business in your_businesses %}
				{%include 'ratings/listing/singlebus.html' %}
			{% endfor %}
		{% else %}{% if community_businesses %}
			{% for business in community_businesses %}
				{%include 'ratings/listing/singlebus.html' %}
			{% endfor %}
		{%endif%}{%endif%}{%endif%}


	{% show_pages %}