

<div id="answer_{{business.id}}" class="answer">


		<script type="text/javascript">
			$(function() {
				$( ".therating").button();
		
			});
		</script>

		<!--<form id ="rateBusiness_{{business.id}}" name="rateBusiness_{{business.id}}" action="."  style=" text-align:center">-->

		{% csrf_token %}
	
		<ul  id="ratingDD_{{business.id}}" name="ratingDD_{{business.id}}" class="dropdown">
			<li class="therating">
				{% if business.rating == 0 %}Rate{%endif%}
				{% if business.rating == 1 %}Hated{%endif%}
				{% if business.rating == 2 %}Meh{%endif%}
				{% if business.rating == 3 %}Liked{%endif%}
				{% if business.rating == 4 %}Loved{%endif%}
				<ul class="sub_menu">
				<li class="rating_dropdown first" value="1" {% if business.rating == 1 %} selected="true" {%endif%}>Hated</li>
				<li class="rating_dropdown" value="2" {% if business.rating == 2 %} selected="true" {%endif%}>Meh</li>
				<li class="rating_dropdown" value="3" {% if business.rating == 3 %} selected="true" {%endif%}>Liked</li>
				<li class="rating_dropdown" value="4" {% if business.rating == 4 %} selected="true" {%endif%}>Loved</li>
				</ul>
			</li>
		
		</ul> 
		
				
		<!--<select id= "ratingDD_{{business.id}}" name="ratingDD" class="ratingDD ui-widget">
			<option value="0" {% if not business.rating %}  selected="true" {%endif%} >--</option>
			<option value="1" {% if business.rating == 1 %} selected="true" {%endif%}>Hated</option>
			<option value="2" {% if business.rating == 2 %} selected="true" {%endif%}>Meh</option>
			<option value="3" {% if business.rating == 3 %} selected="true" {%endif%}>Liked</option>
			<option value="4" {% if business.rating == 4 %} selected="true" {%endif%}>Loved</option>
		</select>-->
	<!--</form>-->
</div>
