<input type="hidden" value="business" id="vote_on" />

{% for bus in business_list.object_list %}
	{% include 'ratings/singlebus.html' %}
	<hr>
{% endfor %}

<span class="step-links">
    {% if business_list.has_previous %}
        <a href="?page={{ business_list.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ business_list.number }} of {{ business_list.paginator.num_pages }}.
    </span>

    {% if business_list.has_next %}
        <a href="?page={{ business_list.next_page_number }}">next</a>
    {% endif %}
</span>