<input type="hidden" value="business" id="vote_on" />

{% for bus in business_list.object_list %}
	<table class="busListing">
	<tr>
		<td width="40px">
			{% include 'ratings/listing/vote_data.html' %}
		</td>
		<td>
			<table>
				<tr>
					<td>
						 <a href="/ratings/{{ bus.id }}/"> <img src="{{bus.photourl}}" /> </a>
					</td>
					<td>
						<a class="business_name" href="/ratings/{{ bus.id }}/" class="blocklink"><font style="font-size:20px;font-weight:bold;"> {{bus.name }} </font></a> 
		   				<br>{{bus.city}}, {{bus.state}}
		   				<br><br>Community: <em> {{community.name}} </em>

		   				<br>Sorted Under: 

		   				{% for tag in bus.tags %}
		   					{{tag.descr}} |
		   				{% endfor %}
					</td>
				</tr>						
			</table>
		</td>
	</tr>
	</table>
{% endfor %}

<span class="step-links">
    {% if business_list.has_previous %}
        <a href="?page={{ business_list.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ business_list.number }} of {{ business_list.paginator.num_pages }}.
    </span>

    {% if business_list.has_next %}
        <a href="?page={{ business_list.next_page_number }}">next</a>
    {% endif %}
</span>