<div id="busDetails">
	<i>{{business.city}}, {{business.state}}</i>
	{%if not following_business %}
		<form  name="subscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Follow" />
		</form>
		
	{%else%}
		<form  name="unsubscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Unfollow" />
		</form>
	{%endif%}
	
	<table>
		<tr>
			<td>
				
				<img src="{{business.photourl}}" />
				{% include 'ratings/listing/rate_data.html' %}
				
			</td>
		</tr>
		<tr>
	
			<td>
				<table>
				{% for ht in hard_tags %}
				
					{% if ht.answer %}
						<tr><td>{{ht.question}}</td><td>Yes</td></tr>
					{%else%}
						<tr><td>{{ht.question}}</td><td>No</td></tr>
					{%endif%}
				
				{% endfor%}
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<p style="font-size: 14px"><a href="/ratings/answer_questions/{{business.id }}">What do you know about {{business.name}}?</a></p>
			</td>
		</tr>
	</table>
</div>

<table style="float:right;width:250px;">
	<tr>
		<td><div id="map_canvas"></div></td>
	</tr>
	<tr>
		<td>
			<div id="sorted">
				{% include 'ratings/sorts.html' %}
			</div>
		</td>
	</tr>
</table>