<div id="busDetails">
	<i>{{business.city}}, {{business.state}}</i>
	{%if not following_business %}
		<form  name="subscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Follow" />
		</form>
		
	{%else%}
		<form  name="unsubscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Unfollow" />
		</form>
	{%endif%}
	
	<table>
		<tr>
			<td width="40px">
				{% include 'ratings/listing/rate_data.html' %}
			</td>
			<td>
				<img src="{{business.photourl}}" />
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				{% for ht in hard_tags %}
				<ul>
					{% if ht.answer %}
						<li>{{ht.question}}: Yes!</li>
					{%else%}
						<li>{{ht.question}}: No!</li>
					{%endif%}
				</ul>
				{% endfor%}
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				{% if hard_tags%}
					<a href="/ratings/answer_questions/{{business.id}}">Answer some questions yourself!</a>
				{%else%}
					No one's answered any questions about {{business.name}}.<br><a href="/ratings/answer_questions/{{business.id }}">Answer some yourself!</a>
				{%endif%}
			</td>
		</tr>
	</table>
</div>

<table style="float:right;width:250px;">
	<tr>
		<td><div id="map_canvas"></div></td>
	</tr>
	<tr>
		<td>
			<div id="sorted">
				<h2>Sorted Under</h2>
				{% include 'ratings/sorts.html' %}
			</div>
		</td>
	</tr>
</table>