<table>
<tr><td><div id="busDetails">
	{{business.lat}} LL {{business.lon}}
	<i>{{business.city}}, {{business.state}}</i>
	{%if not following_business %}
		<form  name="subscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Follow" />
		</form>
		
	{%else%}
		<form  name="unsubscribeUser" action="." method="post">
			<input type="hidden" value="{{business.id}}" name="bid" />
			<input type="submit" value="Unfollow" />
		</form>
	{%endif%}
	
	<table>
		<tr>
			<td>	
				<div class="busImage">
				
				<img src="{{business.photourl}}" />
				</div>
				{% include 'ratings/listing/rate_data.html' %}
				
			</td>
		</tr>
		<tr>
	
			<td>
				<table>
				{% for ht in hard_tags %}
				
					{% if ht.answer %}
						<tr><td>{{ht.question}}</td><td>Yes</td></tr>
					{%else%}
						<tr><td>{{ht.question}}</td><td>No</td></tr>
					{%endif%}
				
				{% endfor%}
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<p style="font-size: 14px"><a href="/ratings/answer_questions/{{business.id }}">What do you know about {{business.name}}?</a></p>
			</td>
		</tr>
	</table>
</div>
</td>
<td>
	{% if page.name != business.master_page.name %}
	<div id="masterDiscussion">
		<a href="/ratings/{{business.id}}/edit_master/{{ business.master_page.id }}/#discuss" rel="bookmark">
			<div class="sort">
				<h3>{{ business.master_page.name }}</h3>
				
				{% if not business.master_page.id %}
				<p>This page does not exist, <a href="edit/">create it now</a>?</p>
				{% endif %}
				
				{% if business.master_page.rendered %}
					{{ business.master_page.rendered|safe|linebreaks }}
				{% else %}
					<p><em><font color="#999999">No description, click to add.</font></em></p>
				{% endif %}
				
				<!--{% if page.id %}
				<a href="edit/{{page.id}}/">Discuss / edit this tag</a>
				{% else %}
				<a href="edit/">Create this page</a>
				{% endif %}-->
			</div>
		</a>
	</div>
	{%else%}
			<div id="masterDiscussion">
			<a href="#discuss" rel="bookmark">
				<div class="sort">
					<h3>{{ business.master_page.name }}</h3>
				
					
					
					{{ business.master_page.rendered|safe|linebreaks }}
				
					
					<!--{% if page.id %}
					<a href="edit/{{page.id}}/">Discuss / edit this tag</a>
					{% else %}
					<a href="edit/">Create this page</a>
					{% endif %}-->
				</div>
			</a>
		</div>
	{%endif%}
</td>
<td>


<table style="float:right;width:250px;">
	<tr>
		<td><div id="map_canvas"></div></td>
	</tr>
	<tr>
		<td>
			<div id="sorted">
				{% include 'ratings/sorts.html' %}
			</div>
		</td>
	</tr>
</table>
</td></tr></table>