{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize() {
	var latlng = new google.maps.LatLng({{lat}}, {{lng}});
    var myOptions = {
      center: latlng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: "{{business.name}}"
  	});
  	google.maps.event.trigger(map, 'resize') 
}

function calcRoute() {
alert('here')
	var start = "New York,NY";
	var end  = "San Francisco,CA";
	
  var waypts =  [
    {
      location:"Joplin, MO",
      stopover:false
    },{
      location:"Oklahoma City, OK",
      stopover:true
    }];
  
  var request = {
      origin: start,
      destination: end,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById("directions_panel");
      summaryPanel.innerHTML = "";
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i+1;
        summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
        summaryPanel.innerHTML += route.legs[i].end_address + "<br />";
        summaryPanel.innerHTML += route.legs[i].distance.text + "<br /><br />";
      }
    }
  });
}

</script>



<style type="text/css">
  #map_canvas { height: 50px; }
</style>

{% if business %}
	
	<div id="busDetail" class="content">

    <table>
		<tr >
		<td>
    	<div id="prime_list" style="width:700px" >
		
			    
    <h1>{{ business.name }}</h1>
	
		    <div id="businessDetail" >
				<i> {{ business.city }}, {{business.state}}</i>
				<br><br>
				<img src="{{business.photourl}}"  />
			</div>
			<ul>
				
			{% for ht in hard_tags %}
				{% if ht.answer %}
					<li>{{ht.question}}: Yes!</li>
				{%else%}
					<li>{{ht.question}}: No!</li>
				{%endif%}
			{% endfor%}
			</ul>
			{% if hard_tags%}
			<a href="/ratings/answer_questions/{{ bus.id }}">Answer some questions yourself!</a>
			{%else%}
			<a href="/ratings/answer_questions/{{ bus.id }}">No one's answered any questions about {{business.name}}. Answer some yourself </a>
			{%endif%}
		</td>
		<td>
		</td>
		<td>
			<div id="map_canvas" style="width:250px; height:250px"></div>
		</td>
		</tr>
		<tr>
			<td colspan="3">
				<table id="detail">
					<tr>
						<td valign="top">
							<div id="discussion_list" class="ui-widget tips_feed">

								{%if form %}
									{% include 'ratings/discussion/wikiedit.html' %}
								{% else %}
									{% include 'ratings/discussion/wikipages.html' %}
								{% endif %}
							</div>
							<br />
							<div id="tag_list">
								{% if not form %}
								{% include 'ratings/tags.html' %}
								{%endif%}
							</div>
						</td>
						<td valign="top">
							{% if not tag %}
							<div id="comment_list">
								
								{% include 'ratings/discussion/thread.html' %}
								
							</div>
							{% endif%}
						</td>
						
					</tr>
				</table>
			</td>
		</tr>
		</table>
    
	{% else %}
	    <p>Invalid business!.</p>
	{% endif %}
	</div>

{% endblock %}


	<!--
		<div id="busRating">
		{% if rating %}
			<p> Your rating is {{ rating.rating }}</p>
		{% endif %}
		{% if not rating %}
		{% if user.is_authenticated %}
			<p> Recommendation for {{user}}: {{ recommendation}} </p>
		{% endif %}
			<p> Average across {{numRatings}} users: {{avg}} </p>
		{% endif %}
		</div> -->
	<!--
	{% if user.is_authenticated %}
		<form action="." method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
	{% endif %}
	{% if not user.is_authenticated %}
		<p>Login to rate</p>
	{% endif %}
	-->

	<!--
					<td valign="top">
					<div id="review_list" class="news_feed">
					<form action="." method="post">{% csrf_token %}
					  	<h3 class="feedTitle">Reviews</h3>
					  	<input id="id_review" value="Add a review" class="input_box" type="text"  name="review" maxlength="150" onfocus="this.value='';"  /></p>
						{% for review in reviews %}
						<div class="reviewListing">
				    	<table>
				    	<tr valign="top">
				    	
							<td style="width:40px;" valign="top">
									<div id="review_{{review.id}}" class="review">
								{% if review.this_rat > 0 %}
									{% if review.this_rat > 2 %}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="ui-icon ui-icon-arrowthick-1-n ui-state-active selected"  ></span>
										</div>
										<div class="vote down">
										<span id="rev_vote_neg_{{review.id}}" class="ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
										</div>
										
									{% else %}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active "  ></span>
										</div>
										<div class="vote down">
										<span id="vrev_ote_neg_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active selected" ></span>
										</div>
									{%endif%}
								{%else%}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active"  ></span>
										</div>
										<div class="vote down">
										<span id="rev_vote_neg_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
										</div>
								{% endif %}
									
				
								  <table>
								  <tr>
								  <td><div id="rev_pos_rating_{{review.id}}" class="pos_rating">{{review.pos_ratings}}</div></td>
								  <td><div id="rev_neg_rating_{{review.id}}" class="neg_rating">{{review.neg_ratings}}</div></td>
								  </tr>
								  </table>
							</div>
						</td>
						<td>		
						   <div class="review_box">		
						     {{review.descr}}  
						    </div>
						 </td>
						</tr>
					  </table>
					    </div>
					    {%endfor%}
					    </form>
					</div>
				</td>-->
