{% extends "base.html" %}

{% block body %}



{% if business_list %}
    <div id="businessList">
	<h1>Nightout</h1>
    
		<p>
	    {% for bus in business_list %}
	       <div class="busCard">
	        <a href="/ratings/{{ bus.id }}/">{{ bus.name }}</a>
	       </div>
	    {% endfor %}
			<br><br><a href="/ratings/add_business/">Add a business</a></li>

	    </p>
	</div>
	<script type="text/javascript"/>
			$.ajax({
				type : 'POST',
				url : '/ajax_query/',
				dataType : 'json',
				data: {	
						val : 1
				},
				success : function(data){
		
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
						
				}
			});

	</script>
{% else %}
    <p>No businesses are available.</p>
{% endif %}
{% endblock %}