{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
$(function() {
		$( "input:submit, a, button", ".demo" ).button();
		$( "#submitBus").button();
		$( "#submitBus" ).click(function() { window.location="/ratings/add_business/" });
	});
</script>

{% if business_list %}
	<div id="content">
    <div id="trending" class="section" >
    	
    	{% if search_term %}
			<h1>{{search_term}}</h1>
			{%if location_term %}
				<!--near <h2 class="search_term">{{location_term}}</h2>-->
		     {%endif%}
		{%endif%}
	<table>
		<tr>
		<td>
			{% include 'ratings/buslist.html' %}
		</td>
		<td>
		</td>
		</tr>
		</table>
	</div>
		<div id="suggestions" class="section">
    	
    	<a href="#" >Subscribe to {{search_term}}</a>
    </div>
	

{% else %}
    <p>No businesses are available.</p>
    <p><a href="/ratings/add_business/">Add a business</a></p>
{% endif %}
{% endblock %}
