<table class="busListing">
	<tr>
		<td style="width:40px;">
			<div id="answer_{{bus.id}}" class="answer">
			<form name="rateBusiness_{{bus.id}}" action="." >
				<select name="ratingDD" class="ui-widget">
					<option value="0"  {% if not bus.rating %} selected="selected" {%endif%} >--</option>
					<option value="1" {% if bus.rating == 1 %} selected="selected" {%endif%}>Hated</option>
					<option value="2" {% if bus.rating == 2 %} selected="selected" {%endif%}>Meh</option>
					<option value="3" {% if bus.rating == 3 %} selected="selected" {%endif%}>Liked</option>
					<option value="4" {% if bus.rating == 4 %} selected="selected" {%endif%}>Loved</option>
				</select>
		
			</form>
			
			</div>
		</td>
		<td>
			<table>
				<tr>
					<td>
						 <a href="/ratings/{{ bus.id }}/"> <img src="{{bus.photourl}}" /> </a>
					</td>
					<td>
						<a class="business_name" href="/ratings/{{ bus.id }}/" class="blocklink"><font style="font-size:20px;font-weight:bold;"> {{bus.name }} </font></a> 
		   				<br>{{bus.city}}, {{bus.state}}
		   				<br><br>Community: <em> {{community.name}} </em>

		   				<br>Sorted Under: 

		   				{% for tag in bus.tags %}
		   					{{tag.descr}} |
		   				{% endfor %}
					</td>
				</tr>						
			</table>
		</td>
	</tr>
	</table>