{% if business %}
	{% for tag in bus_tags %}
		{{tag.descr}} |
	{%endfor%}
	<br>
{%else%}
	{% for tag in user_sorts %}
		<table><tr><td>
		<a href="/ratings/disp/{{tag.id}}/">{{tag.descr}}</a>  </td><td>
		<form name="unsubscribeUser" action="." method="post">
			<input type="hidden" name="tag" value="{{tag.descr}}" />
			<input type="submit" class="buttonme ui-small-widget" value="-" />
		</form>
		</td></tr></table>
		<br>
	{%endfor%}
{%endif%}


{% if not checkon or checkon == user  %}

<p style="font-size:14px;">Apply a Sort <a style="font-size:14px;" href="/help/">?</a></p> 

{% if business %}
	<form name="addTagDD" action="." method="post">{% csrf_token %}
		<input type="hidden" value="{{business.id}}" name="bid"/>
{%else%}
	<form name="subscribeUser" action="." method="post">
{%endif%}

		<select name="tag" class="ui-widget">
			{% for tag in tags %}
				<option value="{{tag.descr}}" selected="true">{{tag.descr}}</option>-
			{%endfor%}
		</select>
		<input class="buttonme ui-small-widget" type="submit" value="+"/>
	</form>
{%endif%}
	<!--<a href="/ratings/add_new_tag/" style="font-size:10px"><p >Think we're missing a sort?</p></a>-->
