{% if business %}
	{% for tag in bus_tags %}
		{{tag.descr}} |
	{%endfor%}
	<br>
{%else%}
	{% for tag in user_sorts %}
		<table><tr><td>
		{{tag.descr}} </td><td>
		<form name="unsubscribeUser" action="." method="post">
			<input type="hidden" name="tag" value="{{tag.descr}}" />
			<input type="submit" value="-" />
		</form>
		</td></tr></table>
		<br>
	{%endfor%}
{%endif%}

<br>
Apply Sort
<br>
{% if business %}
	<form name="addTagDD" action="." method="post">{% csrf_token %}
	<input type="hidden" value="{{business.id}}" name="bid"/>
{%else%}
<form name="subscribeUser" action="." method="post">
{%endif%}

		<select name="tag" class="ui-widget">
			{% for tag in tags %}
				<option value="{{tag.descr}}" selected="true">{{tag.descr}}</option>-
			{%endfor%}
		</select>
		<input class="buttonme" type="submit" value="+"/>
	</form>
	
	<!--<p style="font-size:10px"  onclick="showAddTag()" >Think we're missing a sort?</p>-->
	<a href="/ratings/add_new_tag/" style="font-size:10px"><p >Think we're missing a sort?</p></a>
<!--<div id="addTagDiv" style="display:none;">
		{%if business%}
			<form name="addTagTB" action="." method="post">{%csrf_token%}
				<input type="hidden" value="{{business.id}}" name="bid" />
				<input type="text" id="addTagButton" value="Add a new Sort" name="tag" onfocus="this.value='';" />
			</form>
		{%else%}
			<div id="addTagDiv">
				<form name="addUserTagTB" action="." method="post">{%csrf_token%}
					<input  type="text" value="" name="tag" />
				</form>
			</div>
		{%endif%}
	</div>-->