{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
$(function() {
		$( "input:submit, a, button", ".demo" ).button();
		$( "#submitBus").button();
		$( "#submitBus" ).click(function() { window.location="/ratings/add_business/" });
	});
</script>



<div id="index" class="content">
{% if search_term %}
			<h3 class="search_term">{{search_term}}</h3>
			{%if location_term %}
				near <h3 class="search_term">{{location_term}}</h3>
		     {%endif%}
		{%endif%}
{% if all_businesses %}

    <div id="trending" class="section">
    	<h1>Trending</h1>
    	
		<table style="width:100%;">
			<tr>
				<td>
					<input type="hidden" value="business" id="vote_on" />
					{% include 'ratings/listing/entry_list.html' %}
				</td>
			</tr>
		</table>
	</div>


{% else %}
 <p>No businesses are sorted under <em>{{search_term}}</em>.</p>
    <p><a href="/ratings/add_business/">List a business</a></p>
{% endif %}
	</div>
{% endblock %}
