
	<h1>Sorts</h1>
						<form name="addTagDD" action="." method="post">{% csrf_token %}
						 <input type="hidden" value="{{business.id}}" name="bid"/>
						 <select name="tag" class="ui-widget">
						
						  {% for tag in tags %}
						 	<option value="{{tag.descr}}" selected="true">{{tag.descr}}</option>
						 {%endfor%}

						 </select>
							<br />
							<input type="submit" value="Add"/>
						</form>
							<p style="font-size:10px"  onclick="showAddTag()" >Think we're missing a sort?</p>
				
				
							<div id="addTagDiv">
							<form name="addTagTB" action="." method="post">{%csrf_token%}
							<input type="hidden" value="{{business.id}}" name="bid" />
							<input type="text" id="addTagButton" value="Add a new Sort" name="tag" onfocus="this.value='';" />
							</form>
							</div>
					
					
						
						{% for tag in bus_tags %}
						
			
							
						     {{tag.descr}}  |
	
					
						{%endfor%}
						
					