{% extends "base.html" %}

{% block body %}
<script>
	$(function() {
		$( "input:submit" ).button();
	});
</script>
	<div class="content" >
			{% if form.question %}
				<form  action="." method="post" >{% csrf_token %}
				<div class="input_box">
				    {{ form.question.errors }}
		
		    		<textarea id="id_question" value="Question" name="question" cols="40" rows="10" onfocus="this.value='';"></textarea>
		    		<br>
		    		<label for="id_question" class="helpLink" title="Help text for pop up goes here">
						Ask a question you'd like to know about a place (e.g. Does this restaurant server vegan food?)</label>
					
				</div>
				<br/>
				<p>Sort associated with question</p>
				 	<select name="tag" class="ui-big-widget">
					
					{% for tag in tags %}
						<option value="{{tag.descr}}" selected="true">{{tag.descr}}</option>
					{%endfor%}

					 </select>
			
				<p><a href="/ratings/add_new_tag/">Missing a sort you think should be here?</a></p>
				<p><input type="submit" class="ui-big-widget" value="Add the question" /></p>
				</form>
				
				<h2> Current Questions: </h3>
				
				
				{% for q in questions %}
					<p>{{q.question}}</p>
				{%endfor%}
				</p>
			{% else %}
				<div id="tag_list">
					{% include 'ratings/contribute/sortlist.html' %}
				</div>
			{%endif%}
	
	</div>
	


{% endblock %}
