<div class="content">
	<h1>Add a Sort</h1>
	<form name="addASort" action="." method="post" >{% csrf_token %}
		<div class="input_box">
			    {{ form.descr.errors }}
				<input type="text" id="id_question" class="ui-big-widget" value="Sort Description" name="descr" onfocus="this.value='';" />
		</div>
		<input type="submit" class="ui-big-widget" value="Add a sort" />
	</form>
	<p>Current Sorts:</p>
	
	{% for tag in tags %}
		<a href="/ratings/disp/{{tag.id}}/">{{tag.descr}}</a> |
	{%endfor%}
</div>