<h1>Comments</h3>
	<form name="addTagComment" action="." method="post">
  		<input id="id_comment" placeholder="Add a comment" class="comment_input_box" type="text"  name="comment" maxlength="150" onfocus="this.value='';"  />
		<input type="submit" class="ui-widget  buttonme" value="Post"></p>
		<input id="bid" value="{{business.id}}" type="hidden" name="bid" />
		{%if tag %}
					<input type="hidden" name="tid" value="{{tag.id}}"/> 
		{% endif %}
	</form>
	<ul>
	{% for comment in comments %}
		{% if comment == "open" %}
			<ul>
		{%else%}
			{%if comment == "close" %}
				</ul>
			{%else%}
				<div class="commentListing">
		    	<table>
		    	<tr valign="top">
					<td style="width:40px;" valign="top">
						<div id="comment_{{comment.id}}" class="comment">
						{% if comment.this_rat > 0 %}
							{% if comment.this_rat > 2 %}
								<div class="vote up">
									<span id="comment_vote_pos_{{comment.id}}" class="ui-icon ui-icon-arrowthick-1-n ui-state-active selected"  ></span>
								</div>
								<div class="vote down">
									<span id="comment_vote_neg_{{comment.id}}" class="ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
								</div>
								
							{% else %}
								<div class="vote up">
									<span id="comment_vote_pos_{{comment.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active "  ></span>
								</div>
								<div class="vote down">
									<span id="comment_vote_neg_{{comment.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active selected" ></span>
								</div>
							{%endif%}
						{%else%}
								<div class="vote up">
									<span id="comment_vote_pos_{{comment.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active"  ></span>
								</div>
								<div class="vote down">
									<span id="comment_vote_neg_{{comment.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
								</div>
						{% endif %}
						
						<table>
						<tr>
						<td><div id="comment_pos_rating_{{comment.id}}" class="pos_rating">{{comment.pos_ratings}}</div></td>
						<td><div id="comment_neg_rating_{{comment.id}}" class="neg_rating">{{comment.neg_ratings}}</div></td>
						</tr>
						</table>
					</div>
					</td>
					<td>
						<div class="comment" id="comment_{{comment.pk}}">
							<font style="font-size:14px; font-style:italic">posted by <a>{{comment.user}}</a> on {{comment.date}}</font><br />
							<li>{{comment.descr}}</li>
							<form action="." name="addReply" class="comment" id="comment_form_{{comment.pk}}" method="post">
								<input type="text" name="comment" id="comment_{{comment.pk}}" placeholder="Reply"/>
								<input type="submit" class="ui-widget buttonme" value="Reply"></p>
								<input type="hidden" name="bid" value="{{business.id}}"/>
								<input type="hidden" name="cid" id="comment_{{comment.pk}}" value="{{comment.pk}}"/> 
							</form>
						</div>
					</td>
				</tr>
				</table>
			    </div>
			{%endif%}
		{%endif%}
	{%endfor%}
	</ul>