<hr>
<a style="font-size:14px"  href="#" class="addReply"  id="reply_{{comment.pk}}">Start a discussion</a>

<div id="commentDiv" style="display:none;">

	<form action="." name="addTagComment" class="comment" id="comment_form" method="post">
		<textarea name="comment" class="replybox" id="comment" placeholder="..."/></textarea>

			<input type="submit" class="ui-widget buttonme" value="Post"></p>
		{%if business %}
			<input type="hidden" name="bid" value="{{business.id}}"/>
		{%endif%}
		{%if tag %}
			<input type="hidden" name="tid" value="{{tag.id}}"/>
		{% endif %}
		{% if p %}
			<input type="hidden" name="pid" value="{{p.id}}"/>
		{%endif%}
		
	</form>
</div>
<ul>


{% for comment in comments %}
	{% if comment == "open-even" %}
		<ul class="even-background">
	{%else%}{% if comment == "open-odd" %}
		<ul class="odd-background">
	{%else %}{%if comment == "close" %}
		</ul>
	{%else%}
		<div class="commentListing" >
			{%include 'ratings/discussion/comment.html' %}
		</div>
	{%endif%}
	{%endif%}
	{%endif%}
{%endfor%}

</ul>