<h2>Comments</h2>

	<form name="addTagComment" action="." method="post">
  		<input id="id_comment" placeholder="Add a comment" class="comment_input_box" type="text"  name="comment" maxlength="150" onfocus="this.value='';"  />
		<input type="submit" class="ui-widget  buttonme" value="Post"></p>
		<input id="bid" value="{{business.id}}" type="hidden" name="bid" />
		{%if tag %}
			<input type="hidden" name="tid" value="{{tag.id}}"/> 
		{% endif %}
	</form>
	<ul>
	{% for comment in comments %}
		{% if comment == "open-even" %}
			<ul class="even-background">		
		{%else%}{% if comment == "open-odd" %}			
			<ul class="odd-background">
		{%else %}{%if comment == "close" %}
			</ul>
		{%else%}		
			<div class="commentListing" >
				{%include 'ratings/discussion/comment.html' %}		
			</div>    	
		{%endif%}
		{%endif%}
		{%endif%}
	{%endfor%}
	</ul>