{% if pages %}
	
	{% for page in pages %}
		<a href="edit/{{ page.id }}/#discuss" rel="bookmark">
			<div class="sort">
				<h3>{{ page.name }}</h3>
				
				{% if not page.id %}
				<p>This page does not exist, <a href="edit/">create it now</a>?</p>
				{% endif %}
				
				{% if page.rendered %}
					{{ page.rendered|safe|linebreaks }}
				{% else %}
					<p><em><font color="#999999">No description, click to add.</font></em></p>
				{% endif %}
				
				<!--{% if page.id %}
				<a href="edit/{{page.id}}/">Discuss / edit this tag</a>
				{% else %}
				<a href="edit/">Create this page</a>
				{% endif %}-->
			</div>
		</a>
	{% endfor %}
	
{% endif %}