
{% if pages %}
	{% for page in pages %}
		<a href="edit/{{ page.id }}/#discuss" rel="bookmark">
			<div class="sort" style="background-image: url('{{STATIC_URL}}css/icons/{{page.tag.icon}}');">
				<h3>{{ page.page.name }} <img class="tag_icon" src="{{STATIC_URL}}css/icons/{{page.tag.icon}}" title="{{page.tag.descr}}" /></h3>
				
				{% if not page.page.id %}
				<p>This page does not exist, <a href="edit/">create it now</a>?</p>
				{% endif %}
				
				{% if page.page.rendered %}
					{{ page.page.rendered|safe|linebreaks }}
				{% else %}
					<p><em><font color="#999999">No description, click to add.</font></em></p>
				{% endif %}
				
				<!--{% if page.id %}
				<a href="edit/{{page.id}}/">Discuss / edit this tag</a>
				{% else %}
				<a href="edit/">Create this page</a>
				{% endif %}-->
			</div>
		</a>
	{% endfor %}
	
{% endif %}