{% extends "base.html" %}

{% block body %}

<div id="index" class="content">
	<div id="help" class="section">
		<h1>AllSorts Help</h1>
		<blockquote>
			<h2>How it Works</h2>
			AllSortz allows you to leave your footprint in the business world with stimulating
			commentary and conversation about the places you have been and would like to go. With
			AllSortz you can find places and activities that you are interested in and share that
			experience with others.
			<blockquote>
				<h3>Businesses</h3>
				Our business listings grow each day as more locations are found and shared on
				AllSortz. Each business can be sorted, described, and discussed, giving users an
				idea of what might be interesting to visit.
				<br><br>
				<h3>Sorts</h3>
				Sorts serve to categorize and describe businesses, giving you a general idea of how
				others might view them. They guide your searches and group businesses together under
				a common label that lets you discuss and compare between them.
				<br><br>
				<h3>Questions</h3>
				A set of yes/no questions can be found on all business profile pages. These
				questions provide you with more information about the business in a quick and
				easy-to-read fashion, giving you a fast summary of some important aspects of the
				business.
				<br><br>
				<h3>Traits</h3>
				These can be found on your <a href="/user_details/{{user.id}}/">user profile</a>.
				They describe your personal preferences: you can rank each trait in its importance
				to you, with 1 indicating little or no interest and 3 indicating a lot of interest.
				This will help guide future suggestions made for you.
			</blockquote>
			<h2>Bugs and problems</h2>
			AllSortz is currently still in its developmental phase. As you use the site, there may
			be various problems that you encounter. Should this happen, please <a href="/feedback/">contact
			us</a> with a description of the bug and when you encountered it. We appreciate your
			help!
		</blockquote>
	</div>
</div>

{% endblock %}
