{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
var rendererOptions = {
  draggable: true,
  suppressMarkers: true
};


var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
var directionsService = new google.maps.DirectionsService();
var map;
var base = new google.maps.LatLng({{baselat}}, {{baselng}});
	

function initialize() {

  var myOptions = {
    zoom: 7,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: base
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById("directionsPanel"));



  	var waypts = [
  	{% for b in business_list %}
  		{
  			location: "{{b.name}} {{b.address}} {{b.city}}, {{b.state}}",
  			stopover:true
        },
  	{% endfor %}
  	]
  	calcRoute(waypts)
  	
}

 // Start/Finish icons
 var icons = {
  start: new google.maps.MarkerImage(
   // URL
   'https://www.resiprocate.org/images/8/81/Symbol-warning-small.png',
   // (width,height)
   new google.maps.Size( 44, 32 ),
   // The origin point (x,y)
   new google.maps.Point( 0, 0 ),
   // The anchor point (x,y)
   new google.maps.Point( 22, 32 )
  ),
  end: new google.maps.MarkerImage(
   // URL
   'https://www.resiprocate.org/images/8/81/Symbol-warning-small.png',
   // (width,height)
   new google.maps.Size( 44, 32 ),
   // The origin point (x,y)
   new google.maps.Point( 0, 0 ),
   // The anchor point (x,y)
   new google.maps.Point( 22, 32 )
  )
 };

function calcRoute(waypts) {
	var start = "New York,NY";
	var end  = "San Francisco,CA";
	
  	var request = {
    origin: "Princeton, NJ",
    destination: "Princeton, NJ",
    waypoints:waypts,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);

		var route = response.routes[0];
		
	  var i = 0;
	  {% for b in business_list %}
		 var leg = route.legs[ i ];
	     makeMarker( leg.start_location, icons.start, "{{b.name}}" );
		 makeMarker( leg.end_location, icons.end, "{{b.name}}" );
		 i++
	  {% endfor %}
      var summaryPanel = document.getElementById("directions_panel");
      summaryPanel.innerHTML = "";
      // For each route, display summary information.
      i = 0;
	  {% for b in business_list %}
        var routeSegment = i+1;
        summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
        summaryPanel.innerHTML += "{{b.name}}" + "   <br /> ";

       	i++
      {% endfor %}

    }
  });

	  
  	
}

	  function makeMarker( position, icon, title ) {
	 new google.maps.Marker({
	  position: position,
	  map: map,
	  title: title,
	  icon: icon
	 });
	 }

</script>


<style type="text/css">
  #map_canvas { height: 50px; }
</style>


{% if activity %}
	
	<div id="busDetail" class="content">

    <table>
		<tr >
		<td>
    	<div id="prime_list" style="width:700px" >
		
			    
    <h1>{{ activity.name }}</h1>
	 
	 
	<p>{{activity.descr}}</p>
	<p>{{activity.start}}</p> 
	<p>{{activity.end}}</p>
			
		</td>
		<td>
		
		</td>
		<td>
			<div id="map_canvas" style="width:250px; height:250px"></div>
			<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>
		</td>
		</tr>
		<tr>
			<td colspan="3">
			<hr/ >
			</td>			
		</tr>
		<tr>
			<td colspan="3">
				<table>
					<tr>
						<td valign="top">
							<div id="comment_list" class="ui-widget tips_feed">
								{% include 'activities/waypoints.html' %}
							</div>
						</td>
						<td valign="top">
							<div id="tag_list" class="ui-widget tags_feed">
								{% include 'ratings/sorts.html' %}
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</table>
    
{% else %}
    <p>Invalid activity!.</p>
{% endif %}

	
	</div>
	



{% endblock %}


			