<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/header_footer.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/feeds.css" />
<link type="text/css" href="{{STATIC_URL}}css/le-frog/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.8.20/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript"  src="{{STATIC_URL}}js/vote.js" /></script>
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAefqg5thWNg8s8YTq0CWRdQD7jt1VEruM&sensor=false">
 </script>


<head>
<title>Nightout</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}{% endblock %}
</head>
<body onload="initialize()">
	{% if not user.is_authenticated %}
	
	<div id=account-bar class="headerBar">
		<a href="/">Home</a> | <a href="/accounts/login/?next=/">Login</a> | <a href="/accounts/register/">Register</a>
		
	</div>
	{% endif %}

	{% if user.is_authenticated %}
		<div id="account-bar" class="headerBar">
		<p style="display:inline"> Welcome, {{ user }} </p> | <a href="/">Home</a> | <a href="/accounts/logout/?next=/">logout</a> 
		| <a href="/ratings/top_ten/"> Top </a> 
		</div> 
	{% endif %}
		
		<div id="searchBar" class="searchBar">
			<form method="get" action="/ratings/search_tags/">{% csrf_token %}
		        <input type="search" class="ui-widget" name="search" />
			</form>		
		</div>
	

	
	
	
	
    {% block body %}{% endblock %}
	<footer>
		<p> All Rights Reserved </p>
	</footer>
	
</body>

</html>