<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/header_footer.css" />
<script type="text/javascript"  src="{{STATIC_URL}}js/jquery.js" /></script>
<script type="text/javascript"  src="{{STATIC_URL}}js/jquery-ui.js" /></script>


<head>
<title>Nightout</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}{% endblock %}
</head>
<body>
	{% if not user.is_authenticated %}
	
	<div id=account-bar class="headerBar">
		<a href="/">Home</a> | <a href="/accounts/login/?next=/">Login</a> | <a href="/accounts/register/">Register</a>
	</div>
    <div id="titleShadow"></div>
	{% endif %}

	{% if user.is_authenticated %}
		<div id="account-bar" class="headerBar">
		<p style="display:inline"> Welcome, {{ user }} </p> | <a href="/">Home</a> | <a href="/accounts/logout/?next=/">logout</a>
		</div> 
	{% endif %}
	<br/><br/>

    {% block body %}{% endblock %}
	<footer>
		<p> All Rights Reserved </p>
	</footer>
	
</body>

</html>