<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/main.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/header_footer.css" />
<script type="text/javascript"  src="{{STATIC_URL}}js/jquery.js" /></script>
<script type="text/javascript"  src="{{STATIC_URL}}js/jquery-ui.js" /></script>


<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}{% endblock %}
</head>
<body>
	{% if not user.is_authenticated %}
	
	<div id=account-bar>
		<a href="/">Home</a> | <a href="/accounts/login/?next=/">login</a> | 
		<a href="/accounts/register/">register</a>
	</div>


	{% endif %}

	{% if user.is_authenticated %}
		Welcome, {{ user }} | <a href="/">Nightout</a> | <a href="/accounts/logout/?next=/">logout</a> 
	{% endif %}
	<br/><br/>

    {% block body %}{% endblock %}
	<footer>
		<p> Copyright info </p>
	</footer>
	
</body>

</html>