<h3 class="feedTitle">Comments</h3>
	<form name="addComment" action="." method="post">
  	<input id="id_comment" value="Add a comment" class="comment_input_box" type="text"  name="comment" maxlength="150" onfocus="this.value='';"  /></p>
	<input id="bid" value="{{business.id}}" type="hidden" name="bid" />
	</form>
		<ul>
		{% for comment in comments %}
			{% if comment == "open" %}
				<ul>
			{%else%}
				{%if comment == "close" %}
						</ul>
				{%else%}		
					<div class="comment" id="comment_{{comment.pk}}">
					
					<li>{{comment.descr}}</li>
					<form action="." name="addReply" class="comment" id="comment_form_{{comment.pk}}" method="post">
					<input type="text" name="comment" id="comment_{{comment.pk}}"/>
					<input type="hidden" name="cid" id="comment_{{comment.pk}}" value="{{comment.pk}}"/> 
					<input id="bid" value="{{comment.business.id}}" type="hidden" name="bid" />
					</form>
					</div>
				{%endif%}
			{%endif%}
		


		{%endfor%}
		</ul>				
