{% for item in feed %}
	<table style="width:100%;font-size:14px;padding:5px;border-bottom:1px solid #1c3752;">
	<tr>
		<td>
			<a href="/user_details/{{item.user.id}}/" ><img src={{ item.user.photo.image_thumb.url }} /></a>
		</td>
		<td>
			{% if item.type == "buscomment" %}
				<a href="/user_details/{{item.user.id}}/" >{{item.thread.user}}</a>
			{% else %}
				<a href="/user_details/{{item.user.id}}/" >{{item.user}}</a>
			{% endif %}
			{% if item.type == "business" %}
					{% if item.rating == 1 %}
						hated 
					{%else%}{%if item.rating == 2 %}
						didn't care for  
					{%else%}{%if item.rating == 3%} 
						liked 
					{%else%}
						loved 
					{%endif %}{%endif%}{%endif%}
					
					<a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a>
			{%endif%}
			{% if item.type == "buscomment" %}
				discussed  <a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a>
				<br><i><font style="font-size:14px;">{{item.thread.descr}}</font></i>
			{%endif%}
			{% if item.type == "tagcomment" %}
				discussed <a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a> 
				for <a href="/ratings/disp/{{item.tag.id}}/">{{item.tag.descr}}</a> lovers 
				<br><i><font style="font-size:14px;">{{item.thread.descr}}</font></i>
			{%endif%}
		</td>
	</tr>
	</table>
{% endfor %}