{% for item in feed %}
	
	{% if item.type == "business" %}
		<p  class="feed_text" >
				<table><tr><td>
					<table><tr><td>
					<a href="/user_details/{{item.user.id}}/" ><img src={{item.user.photo.image_thumb.url}} /></a>
					</td></tr>
					<tr><td>
						<a href="/user_details/{{item.user.id}}/" >{{item.user}} </a>
					</td></tr></table>
				</td><td>
			{% if item.rating == 0 %}
				didn't care for
			{%else%}{%if item.rating == 1 %}
				didn't care for  
			{%else%}{%if item.rating == 2%} 
				liked 
			{%else%}
				loved 
			{%endif %}{%endif%}{%endif%}
			
			<a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a>
			</td></tr></table>
		</p> 
	{%endif%}
	{% if item.type == "buscomment" %}				
		<p class="feed_text"  ><a href="/user_details/{{item.user.id}}/"> 
				<table><tr><td>
					<table><tr><td>
					<a href="/user_details/{{item.user.id}}/" ><img src={{item.user.photo.image_thumb.url}} /></a>
					</td></tr>
					<tr><td>
						<a href="/user_details/{{item.user.id}}/" >{{item.user}} </a>
					</td></tr></table>
				</td><td>
					
				
				discussed  <a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a> 
				<br> <i>{{item.thread.descr}}</i>
				</td></tr></table>
		</p> 
	{%endif%}
	{% if item.type == "tagcomment" %}				
			<p class="feed_text"  >
				<table><tr><td>
					<table><tr><td>
					<a href="/user_details/{{item.user.id}}/" ><img src={{item.user.photo.image_thumb.url}} /></a>
					</td></tr>
					<tr><td>
						<a href="/user_details/{{item.user.id}}/" >{{item.user}} </a>
					</td></tr></table>
				</td><td>
					
		
				was part of a discussion on  <a href="/ratings/{{ item.business.id }}/"> {{item.business}} </a> 
				for <a href="/ratings/disp/{{item.tag.id}}/">{{item.tag.descr}}</a> lovers 
				<br> <i>{{item.thread.descr}}</i>
				</td></tr></table>
			 </p>
	{%endif%}
	<hr>
{% endfor %}