{% extends "base.html" %}

{% block body %}

<div class="content">
	<div id="userProfile">
		<div class="userDetails" style="width:600px;height:200px;">
			<h1>{{user}}'s Profile</h1>
			<h3>About Connie</h3>
			<div style="margin:5px 20px;">
				trait: description<br>
				trait: description<br>
				trait: description<br>
				trait: description<br>
				trait: description<br>
			</div>
		</div>
		
		<div class="userDetails" style="min-height:200px;float:right;">
			<h2>{{user}}'s Sorts</h2>
			{% include 'ratings/sorts.html' %}
		</div>
		
		<div class="userDetails">
			<h2>{{user}}'s Communities</h2>
			communities here
		</div>
		
		<div class="userDetails">
			<h2>{{user}}'s Favorites</h2>
			favorites here
		</div>
	</div>
</div>

{% endblock %}


	<!--
		<div id="busRating">
		{% if rating %}
			<p> Your rating is {{ rating.rating }}</p>
		{% endif %}
		{% if not rating %}
		{% if user.is_authenticated %}
			<p> Recommendation for {{user}}: {{ recommendation}} </p>
		{% endif %}
			<p> Average across {{numRatings}} users: {{avg}} </p>
		{% endif %}
		</div> -->
	<!--
	{% if user.is_authenticated %}
		<form action="." method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
	{% endif %}
	{% if not user.is_authenticated %}
		<p>Login to rate</p>
	{% endif %}
	-->

	<!--
					<td valign="top">
					<div id="review_list" class="news_feed">
					<form action="." method="post">{% csrf_token %}
					  	<h3 class="feedTitle">Reviews</h3>
					  	<input id="id_review" value="Add a review" class="input_box" type="text"  name="review" maxlength="150" onfocus="this.value='';"  /></p>
						{% for review in reviews %}
						<div class="reviewListing">
				    	<table>
				    	<tr valign="top">
				    	
							<td style="width:40px;" valign="top">
									<div id="review_{{review.id}}" class="review">
								{% if review.this_rat > 0 %}
									{% if review.this_rat > 2 %}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="ui-icon ui-icon-arrowthick-1-n ui-state-active selected"  ></span>
										</div>
										<div class="vote down">
										<span id="rev_vote_neg_{{review.id}}" class="ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
										</div>
										
									{% else %}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active "  ></span>
										</div>
										<div class="vote down">
										<span id="vrev_ote_neg_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active selected" ></span>
										</div>
									{%endif%}
								{%else%}
										<div class="vote up">
										<span id="rev_vote_pos_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-n ui-state-active"  ></span>
										</div>
										<div class="vote down">
										<span id="rev_vote_neg_{{review.id}}" class="vote ui-icon ui-icon-arrowthick-1-s ui-state-active" ></span>
										</div>
								{% endif %}
									
				
								  <table>
								  <tr>
								  <td><div id="rev_pos_rating_{{review.id}}" class="pos_rating">{{review.pos_ratings}}</div></td>
								  <td><div id="rev_neg_rating_{{review.id}}" class="neg_rating">{{review.neg_ratings}}</div></td>
								  </tr>
								  </table>
							</div>
						</td>
						<td>		
						   <div class="review_box">		
						     {{review.descr}}  
						    </div>
						 </td>
						</tr>
					  </table>
					    </div>
					    {%endfor%}
					    </form>
					</div>
				</td>-->
