{% extends "base.html" %}

{% block body %}

<div class="content">
	<div id="userProfile">
		<div class="userDetails" style="width:600px;float:left;">
			<h1>{{checkon}}</h1>
			
			
			<h3>{{checkon}}'s traits</h3>
			<div style="margin:5px 20px; min-height:300px;">
				{% if checkon == user %}
					<form class="ui-big-widget" action="/ratings/user_traits/" method="post" >{% csrf_token %}
						{% for t in user_traits %}
							<table><tr><td>
							<p>{{t.name}}:</p>
							</td><td>
							<input id="{{t.id}}_1" type="radio" name="answers_{{t.id}}" value="{{t.id}}_1" {%if t.value == 1 %}checked{%endif%}> 1 <br>
							</td><td>
							<input id="{{t.id}}_2" type="radio" name="answers_{{t.id}}" value="{{t.id}}_2" {%if t.value == 2 %}checked{%endif%}> 2 <br>
							</td><td>
							<input id="{{t.id}}_3" type="radio" name="answers_{{t.id}}" value="{{t.id}}_3" {%if t.value == 3 %}checked{%endif%}> 3 <br>
							</td></tr></table>
						{%endfor%}
						<p><input class="ui-big-widget" type="submit" value="Save" /></p>
					</form>
				{%else %}
					{% for t in user_traits %}
						{% if t.value %}
						<table><tr><td>
						<p>{{t.name}}:</p>
						</td><td>
						{{t.value}}
						</td></tr></table>
						{%endif%}
					{%endfor%}
				
				{%endif%}
			</div>
			<!--<a href="/ratings/add_trait/" style="font-size:10px"><p >Think we're missing a trait?</p></a>-->
		</div>
		
		<div class="userDetails">
			<h2>{{checkon}}'s Sorts</h2>
			{% include 'ratings/sorts.html' %}
		</div>
		<!--
		<div class="userDetails">
			<h2>{{user}}'s Communities</h2>
			{% for community in user_communities %}
				<table><tr><td>
				{{community.name}}</td><td>
				<form name="unsubscribeUser" action="." method="post">
					<input type="hidden" name="comm" value="{{community.name}}" />
					<input type="submit" value="-" />
				</form>
				</td></tr></table>
				<br>
			{% endfor %}
			
			<br>Apply Community
			<form name="subscribeUser" action="." method="post">
				<select name="comm" class="ui-widget">
				{% for comm in communities %}
					<option name="comm" value="{{community.name}}">{{community.name}}</option>
				{%endfor%}
				</select>
				<input type="submit" value="+"/>
			</form>
			<a href="/ratings/add_community/" style="font-size:10px">Think we're missing a community?</a>	
		</div>-->
		
		<div class="userDetails">
			<h2>{{checkon}}'s Watchlist</h2>
			{% for watch in user_favorites %}
				 <a href="/ratings/{{ business.id }}/"> {{watch.name}} </a> |
			{% endfor %}
		</div>
		<div class="userDetails">
			<h2>{{checkon}}'s Activity Feed</h2>
			{% include 'ratings/feed/activity_feed.html' %}
		</div>
	</div>
</div>

{% endblock %}



